.col-sm-10.sex, .col-sm-10.recommend-chk{
	
	width:70%;
	float:right;
	margin-top:0.5rem;
}

.col-sm-10.input-area,
.col-sm-8.input-area{
	width:70%;float:right
}
.custom-li-left{
	width:48%;
	float:left;
}

.custom-li-right{
	width:48%;
	float:right;
}

#result-part{
	margin-top: 7%;
}

.suggest-highlight {
    color: #ff0057;
}

.graph{
	margin: 10% auto;
}
.modal-title{
	padding: 1rem;
    margin: -1rem -1rem -1rem auto;
}

#modal-top{
	margin: 5% 0;
}
#modal-top img{
	margin-left:3%;
	margin-right:1%;
}
#modal-top span{
	width:75%;
	margin:5% 0px;
	display:inline-block;
	text-align: center;
	
}


.insurance-group{
	margin:0.1rem auto;
}

.insurance-group label{
	width:20%;
	margin-left:3%;
	background-color: #30b1b2;
	color: white;
	padding:0.1rem 0.5rem;
	text-align: center;
}

.insurance-group span{
	width:70%;
	display:inline-block;
	margin: 0.1rem 3%;
	text-align: center;
}






